@import "tailwindcss";

@theme {
  --color-green: #1cab55;
}

@layer base {
  :root {
    --default-border-color: #dbe1eb;
  }
  * {
    border-color: var(--default-border-color);
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
